{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>History</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="wrapper">
    <nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-900">
        <div class="cont flex flex-wrap justify-between items-center mx-auto py-5">
            <a href="{% url 'main:home' %}" class="flex items-center font-bold uppercase">
                Short url
            </a>
            <div class="" id="navbar-default">
                <ul class="flex rounded-lg md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                    <li>
                        <a href="{% url 'main:home' %}"
                           class="block py-2 pr-4 pl-3 text-white text-gray-700 rounded  md:p-0 dark:text-white">Shorting
                            url</a>
                    </li>
                    <li>
                        <a href="{% url 'main:history' %}"
                           onclick="location.href=this.href+`?uid=${localStorage.getItem('userID')}`; return false;"
                           class="block py-2 pr-4 pl-3 text-blue-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">History</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="history cont mt-5">
        {% if links %}
            <div class="w-full bg-white rounded-lg shadow-lg hover:cursor-pointer">
                <ul class="divide-y-2 divide-gray-100">
                    {% for link in links %}
                        <a class="p-3 hover:bg-blue-600 hover:text-white block"
                           href="{% url 'main:shorted_detail' link.shorted %}">
                            <i class="fa-solid fa-link mr-5"></i> <span>{{ link.shorted }}</span> ----
                            <span>{{ link.url }}</span>
                        </a>
                    {% endfor %}


                </ul>
            </div>
        {% else %}
            null
        {% endif %}
    </div>
</div>
<script src="https://cdn.tailwindcss.com"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
        integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.1/src/js.cookie.min.js"></script>
</body>
</html>