{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Url</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-900">
    <div class="cont flex flex-wrap justify-between items-center mx-auto py-5">
        <a href="{% url 'main:home' %}" class="flex items-center font-bold uppercase">
            Short url
        </a>
        <div class="" id="navbar-default">
            <ul class="flex rounded-lg md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                <li>
                    <a href="{% url 'main:home' %}"
                       class="block py-2 pr-4 pl-3 text-white text-gray-700 rounded  md:p-0 dark:text-white">Shorting
                        url</a>
                </li>
                <li>
                    <a href="{% url 'main:history' %}"
                       onclick="location.href=this.href+`?uid=${localStorage.getItem('userID')}`; return false;"
                       class="block py-2 pr-4 pl-3 text-blue-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">History</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="history cont mt-14">
    <div class="w-full bg-white rounded-lg shadow-lg hover:cursor-pointer">
        <ul class="divide-y-2 divide-gray-100">
            <a class="p-3 block" href="/{{ link.shorted }}">
                <i class="fa-solid fa-link mr-5"></i> <span>{{ host }}/{{ link.shorted }}</span>
            </a>
        </ul>
    </div>
</div>

<div class="detai cont">
    <div class="container mx-auto px-20">
        <div class="flex flex-col w-full" style="cursor: auto;">
            <div class="grid gap-4 grid-cols-1 sm:grid-cols-1 lg:grid-cols-3 my-24 w-full">
                <div class="metric-card bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-800 rounded-lg p-4 w-full"
                     style="cursor: auto;">
                    <div class="flex items-center text-black" style="cursor: auto;">Last Month</div>
                    <p class="mt-2 text-3xl font-bold spacing-sm text-blue-700"
                       style="cursor: auto;">{{ link.get_monthly_count }}</p>
                </div>
                <div class="metric-card bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-800 rounded-lg p-4 w-full"
                     style="cursor: auto;">
                    <div class="flex items-center text-black" style="cursor: auto;">Last Week</div>
                    <p class="mt-2 text-3xl font-bold spacing-sm text-blue-700"
                       style="cursor: auto;">{{ link.get_weekly_count }}</p>
                </div>
                <div class="metric-card bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-800 rounded-lg p-4 w-full"
                     style="cursor: auto;">
                    <div class="flex items-center text-black" style="cursor: auto;">Today</div>
                    <p class="mt-2 text-3xl font-bold spacing-sm text-blue-700"
                       style="cursor: auto;">{{ link.get_daily_count }}</p>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.tailwindcss.com"></script>

</body>
</html>